<div class="content" role="main">
    <h2>Products</h2>
    <div *ngFor='let item of this.productList'>
        <mat-card class='prod'>
            <mat-card-title class='title'>{{item.product}}</mat-card-title>
            <span class='price'>{{item.price}}</span>
            <button class='button' (click)='add(item)'> Add to cart </button>
            <div class='product-cart'>
            </div>
        </mat-card>
    </div>
    <button class='button-cart' (click)='cart()'> Go to the cart </button>
</div>
