<div class="content" role="main">
    <h2>Cart</h2>
    <span *ngIf='cartArray.length === 0'>Nincs megvásárolható termék!</span>
    <div *ngFor='let item of cartArray'>
        <span>{{item.product}}</span>
        <span>{{item.price}}</span>
    </div>
    <div class='cart-buy'>
        <button class='button-buy' (click)='buy()'> Buy products </button>
    </div>
    <div class='cart-back'>
        <button class='button-back' (click)='back()'> Go back to shopping </button>
    </div>

</div>
